<div class="page-section">
    <div class="container">
        <div class="tab-content gallery mt-3">
            <div class="tab-pane active">
                <div class="ml-auto mr-auto">
                    <div class="row">
                        <div class="col-4 col-md-5 col-lg-4">
                            <div class="cc-profile-image img-raised" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom">
                                <a href="https://github.com/1enoch1">
                                    <figure class="cc-effect">
                                        <div class="portfolio-image-size">
                                            <img class="gallery-image img-fluid" src="assets/images/develop6.jpg"
                                                alt="Image" />
                                        </div>
                                        <figcaption class="gallery-caption-size">
                                            <div class="h3 mt-5 text-center">
                                                <p>Ongoing Projects</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-md-5 col-lg-4">
                            <div class="cc-profile-image img-raised" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom">
                                <a href="https://github.com/1enoch1">
                                    <figure class="cc-effect">
                                        <div class="portfolio-image-size">
                                            <img class="gallery-image img-fluid" src="assets/images/sketch2.jpg"
                                                alt="Image" />
                                        </div>
                                        <figcaption class="gallery-caption-size">
                                            <div class="h3 mt-5 text-center">
                                                <p>Web Development Projects</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-md-5 col-lg-4">
                            <div class="cc-profile-image img-raised" data-aos="fade-up"
                                data-aos-anchor-placement="top-bottom">
                                <a href="https://github.com/1enoch1">
                                    <figure class="cc-effect">
                                        <div class="portfolio-image-size">
                                            <img class="gallery-image img-fluid" src="assets/images/develop5.jpg"
                                                alt="Image" />
                                        </div>
                                        <figcaption class="gallery-caption-size">
                                            <div class="h3 mt-5 text-center">
                                                <p>Software Development Projects</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>