@import 'assets/fonts/font-file.scss'
@import "~bootstrap/dist/css/bootstrap.css"

:root
    --primary-color: #8581c7
    --primary-text-color: #2d2d2d
    --secondary-text-color: #fff
    --primary-font: 'oswald-regular'
    --secondary-font: 'oswald-bold'
    --tertiary-font: 'oswald-light'

// font-weight
$thin: 100
$light: 300
$regular: 400
$bold: 700
$black: 900

// font size
$font-xs: 1.5vh
$font-sm: 2vh
$primary-fs: 2.5vh
$font-md: 3vh
$font-lg: 4vh

// container
.container
    margin-right: auto
    margin-left: auto
    // padding-right: 15px
    // padding-left: 15px
    width: 100%

.h4
    margin: 0
    padding: 0
    text-align: center
// body
.body
    margin: 0
    padding: 0
    background-color: var(--primary-color)
    flex-direction: column
    min-width: 640px
    margin: 0 auto
    --webkit-font-smoothing: antialiased
    font-family: "Oswald-Regular"

// page section
.page-section
    display: flex !important
    flex-direction: column
    justify-content: center
    flex-grow: 1 !important
    margin: 0 50px

// cards
.card
    border: 0
    border-radius: 0.1875rem
    display: flex
    flex-wrap: wrap
    position: relative
    overflow: hidden
    // max-width: 1000px
    box-shadow: 0 12px 28px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(255 255 255 / 50%)
    margin: 0 auto
    padding: 0

.section-header
    font-family: "Oswald-Regular"
    display: flex
    flex-wrap: wrap
    flex-direction: column
    position: relative
    color: var(--secondary-text-color)

img
    max-width: 100%
    min-height: 100%
    width: auto
    height: auto
.p
    margin-bottom: 0.5rem !important

.p-button
    border-radius: 5%

.eo_parallax
    perspective-origin: 100%

@media screen and (min-height: 770px)
.eo_parallax_group
    position: relative
    height: 79.5vh
    transform-style: preserve-3d
    transform-origin: 100%
    // border-top: 3px inset #595cab

.eo_parallax_layer
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
.eo_parallax__layer--base
    transform: translateZ(0)

.eo_parallax__layer--back
    transform: translateZ(-1px)
    border-bottom: 3px inset #595cab

.eo_parallax__layer--deep
    transform: translateZ(-2px) scale(3)
