<div class="page-section">
    <div class="card-container">
      <div id="about-card" class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="h5 title text-center mt-0">About</div>
              <p>Hello! I am Enoch Offiah. I'm a Web Developer and Software Developer. I am skilled in JavaScript,
                TypeScript, C#, HTML, CSS3, Sass, SQL.</p>
              <p>Highly enthusiastic & driven professional with a Bachelor’s & Master's Degree focused in Computer
                Science
                from University of Essex.</p>
              <p>I'm currently seeking a new challenge after a couple of years of web development experience in a
                professional setting.</p>
              <p>I also do some freelance Mobile Phone & Tablet repairs in my spare time.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <p class="about-section-text">Age:</p>
                </div>
                <div class="col-sm-8">
                  <p>26</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <p class="about-section-text">Email:</p>
                </div>
                <div class="col-sm-8">
                  <p>enochoffiah@yahoo.co.uk</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <p class="about-section-text">Phone:</p>
                </div>
                <div class="col-sm-8">
                  <p>(+44)07401366854</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>