.card-row
    flex-wrap: wrap
    flex-direction: row
    align-content: center

@media screen and (min-height: 440px)
.card-container
    display: flex
    flex-direction: column
    position: relative
    margin: 0 auto

.about-section-text
    font-weight: 600
    text-transform: uppercase

#about-card
    width: 545px
    bottom: 50px
